@{
    ViewBag.Title = "LuxtourOnlne";
}
<section style="background-image: url(/Content/Resources/back_1.jpg);">

</section>
<section style="background-image: url(/Content/Resources/back_2.jpg);">

</section>
<section style="background-image: url(/Content/Resources/back_3.png);">

</section>
<section style="background-image: url(/Content/Resources/back_4.png);"></section>
<section style="background-image: url(/Content/Resources/back_5.png);"></section>
<section style="background-image: url(/Content/Resources/back_6.png);"></section>
<section style="background-image: url(/Content/Resources/back_7.png);"></section>
<section style="background-image: url(/Content/Resources/back_8.png);"></section>
<section id="last_section" style="background-image: url(/Content/Resources/back_9.png);"></section>

@section Style
{
    <style>

        section
        {
            width: 100%;
            height: 890px;
            background-size: cover;
        }

        #last_section
        {

        }

    </style>
}