
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        text-1
    </div>

    <div>asdsadassddsfsdfsddsdsfdsfsd&lt;br&gt;asdasdasdsasadasd

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    asdasdaddsadssad

</body>
</html>
