
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="mdl-grid" ng-app="NewsApp" ng-controller="NewsCtrl" ng-init="Count = @ViewBag.Count; Page = @ViewBag.Page">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-typography--headline">News</div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-repeat="item in Data">
        <div class="mdl-card__title" style="height: 250px; background-size:cover; background-image:url({{item.full_picture}});">
            <div class="mdl-card__title-text mdl-typography--headline-color-contrast app-card__title-text">{{item.story}}</div>
        </div>
        <div class="mdl-card__supporting-text" style="min-height: 100px;">
            {{item.message | limitTo : 150}}...
        </div>
        <div class="mdl-card__actions" style="position: absolute; bottom: 0px;">
            <a href="{{item.link}}" target="_blank">Читати на Facebook</a>
        </div>
    </div>
</div>


@section Scripts
{

    <script async>
        var app = angular.module("NewsApp", ['ngAnimate']);

        app.controller("NewsCtrl", ['$scope', '$http', function ($scope, $http) {
            $scope.Data = null;

            $scope.Count = 10;
            $scope.Page = 1;

            $scope.Load = function () {

                console.log($scope.Page + " // " + $scope.Count);
                $http({
                    url: "/Home/GetNews",
                    method: "GET",
                    params: { page: $scope.Page, count: $scope.Count }
                })
                .success(function (response) {
                    console.log(response);
                    
                    if ($scope.Data == null)
                        $scope.Data = [];

                    for (i = 0; i < response.length; i++)
                    {
                        if (response[i].message.length > 10)
                            $scope.Data.push(response[i]);
                    }

                });
            };

            $scope.GetImage = function (i) {
                return "Background-image: url(" + i.full_picture + ");";
            };

            $scope.Load();
        }]);


    </script>

}
