body {
    background-color: #F5F5F5;
    max-width: 100%;

    overflow: hidden;
}

#head img
{
    height: 56px;
    margin-left: Calc(50% - 72px);
}

.mdl-navigation > .menu-bottom
{
    position: relative;
    margin-top: 100px;
}

@media screen and (orientation:landscape) {
  .mdl-layout {
    max-width: 360px;
    height: 600px;
    margin: 0 auto;
  }
}

#status-bar
{
    height: 16px;
    font-size: 20px;
    padding: 8px 8px;
    margin-bottom: 8px;
    opacity: 0.87;
}

/*#region FAB general */


.fab
{
    position: fixed;
    bottom: 24px;
    right: 24px;
}

/*#endregion */

/*#region Progress Bar */

.mdl-progress-main > .progressbar {
    background-color: rgb(255, 193, 7);
}

.mdl-progress-main > .bufferbar {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.7)), linear-gradient(to right, rgb(255, 193, 7),rgb(255, 193, 7));
}

.mdl-progress-main > .auxbar {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.7)), linear-gradient(to right, rgb(255, 193, 7),rgb(255, 193, 7)) !important;
    background-color: rgba(00,0,0,0) !important;
    opacity: 0;
}

/*#endregion */