#grid {
    padding: 0px;
    width: 100%;
    margin-left: 0%;
    float: left;
}

#grid.ng-hide-add
{
    -moz-transition: all ease-in 250ms;
    -o-transition: all ease-in 250ms;
    -webkit-transition: all ease-in 250ms;
    transition: all ease-in 250ms;
}

#grid.ng-hide-remove
{
    -moz-transition: all ease-out 250ms;
    -o-transition: all ease-out 250ms;
    -webkit-transition: all ease-out 250ms;
    transition: all ease-out 250ms;
}

#grid.ng-hide
{
    margin-left: -100%;
}


#info
{
    width: 100%;
    margin-left: 0%;
    min-height: 500px;

    opacity: 1;
}

#info.ng-hide-add
{
    -moz-transition: all ease-in 300ms;
    -o-transition: all ease-in 300ms;
    -webkit-transition: all ease-in 300ms;
    transition: all ease-in 250ms;
}

#info.ng-hide-remove
{
    -moz-transition: all ease-in 250ms; 
    -o-transition: all ease-in 250ms;
    -webkit-transition: all ease-in 250ms;
    transition: all ease-in 250ms;
}


#info.ng-hide
{
    opacity: 0;
    margin-left: 100%;
}

.tour-card {
    background-color: #FFF;
    background-position: 0 0;
    background-size: cover;
    height: 150px;
}

.tour-card:first-child
{
    margin-top: 0px;
}

.tour-card > .left-block
{
    width: 50%;
    float: left;
    height: 100%;

    background-size: cover;
    background-position: 0 0;
}

.tour-card > .right-block
{
    float: right;
    width: 50%;
}

.right-block > .title
{
    width: 100%;
    height: 32px;
    padding: 4px 0;

    text-align: center;
}

.right-block > .info
{
    width: 100%;
    height: 24px;

}

.right-block > .info > .days, .right-block > .info > .price
{
    width: Calc(50% - 1px); 
    text-align: center;
    float: left;

    font-size: 16px;
    opacity: 0.87;
}

.right-block > .info > .days
{
    border-right: 1px solid rgba(0,0,0,0.17);

}

.right-block > .info > .days > span:first-child
{
    font-size: 20px;
}

.right-block > .button
{
    width: 100%;
    margin-top: 46px;
}

.right-block > .button > button
{
    display: block;
    margin: 0 auto;

    width: 80%;
    max-width: 200px;
}

#info  .big-image
{
    background-position: 0 0;
    background-size: cover;

    height: 300px;
}

#info .big-image > .title
{
    width: 100%;

    height: 40px;
    position: relative;
    padding-top: 260px;

    color: white;
}

#info .big-image > .title > .days
{
    width:30%;
    height: Calc(100% - 8px);
    float: left;

    padding-top: 8px;



    font-size: 16px; 
    text-align: center;
}

#info .big-image > .title > .days > span:first-child
{
    font-size: 28px;
    font-weight: 100;
}

#info .big-image > .title > .price
{
    width: 40%;
    float: right;
    height: Calc(100% - 8px);


    padding-top: 8px;

    font-size: 14px;
    text-align: center;
}

#info .big-image > .title > .price > span:nth-child(2)
{
    font-size: 20px;
    font-weight:100;
}



#info .body-text > .title
{
    padding: 8px;
}

#info  .body-text > .text-block
{
    padding: 0px 8px;
}

#info .button
{

    padding: 16px 8px;
}

#info .button > button
{
    width: 50%;
    max-width: 250px;

    display: block;

    color: white;
}