#BigImage {
    background-position: center center;
    background-size: cover;
    height: 450px;
    
}

#main-card
{
    margin: 0 18px;
}

.card-animation
{    

    
}

.card-animation.ng-hide-remove {
  -webkit-animation:0.5s show;
  animation:0.5s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

.hotel-description.ng-hide-remove
{
    -webkit-animation:1000ms show-scroll;
    animation:1000ms show-scroll;
}

@keyframes show-scroll {
  0% {
    opacity:0;
  }

  100% { 
    opacity:1;
  }
}

@-webkit-keyframes show-scroll {
  0% {
    opacity:0;
  }

  100% { 
    opacity:1;
  }
}

#gallery
{
    width: 100%px;
    max-width: 900px;
    height: 432px;
    padding: 0px;
    margin: 0px;
    margin-left: 24px;

}

#gallery img
{
    width: 100%;
    height: 100%;
    position: absolute;

    padding: 0px;
    margin: 0px;

    border-radius: 0px;
}

/*#region Tour info */

#tourInfo
{
    padding-top: 24px;
}

#tourInfoGrid
{
    padding-top: 24px;
}

/*#endregion */




/*#region Date Area */

#dateArea
{
    width: 233px;
    margin: 0px 60px;
}

#dateArea > div:nth-child(2)
{
    margin-top: -20px;
}

#dateArea > div:last-child
{
    margin: 0 auto;
    margin-top: 30px;

    width: 192px;

}
#dateArea > div:last-child button
{
    width: 100%;
}
/*#endregion */

/*#region Hotel table */

#hotel-table
{
    margin: 0 8px;
    padding-bottom: 16px;
    table-layout: fixed;
}

#hotel-table .table-title
{
    padding: 12px 0px;
}

#hotel-table thead th
{
    background-color: #2196f3;
    border: 1px solid rgba(255,255,255, 0.87);
    color: white;
    font-size: 16px;

    font-weight: 500;
    text-align: center;
}

#hotel-table thead th:nth-child(2)
{
    padding:0px;
    padding-bottom: 8px;
    margin: 0 auto;
}

#hotel-table tbody td
{
    height: 36px;
    text-align:center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#hotel-table tbody td:nth-child(3)
{
    text-align:left;
}

#hotel-table .strip
{
    background: rgba(239,248,254,1);
}

#hotel-table th

/*#endregion */

#about-hotel > div:first-child 
{
    height: 46px;
    padding-top: 8px;
    width: 100%;

    margin: 0px;
    margin-bottom: 10px;
}

#about-hotel
{
    width: Calc(100% - 48px);
    margin: 0px auto;
    padding: 0px !important;
}

.hotel-card
{
    background-color: #f5f5f5;
    border-radius: 9px;
    display: block;
}

.hotel-card::after{
    clear: both;
    content: "";
    float: none;
}

.hotel-card i
{
    color: green;
}

.hotel-card .mdl-card__title
{
    padding: 24px;
    padding-bottom: 8px;
}

.hotel-card .mdl-card__title-text
{
    padding: 0px;
    margin: 0px;
}

.hotel-card .mdl-card__title-text > i 
{
    padding-right: 14px;
}

.hotel-card .mdl-card__title-text > span
{
    margin-top: -2px;
}

.hotel-card .mdl-card__subtitle-text > div
{

    margin: 0px 0px 8px 0px; 
    border-top: 1px solid rgba(0,0,0,0.14);
    padding-top: 8px;
    line-height: 12px;
}

.hotel-card .mdl-card__subtitle-text > div > i
{
    color: #f44336;
    font-size: 19px;
}

.hotel-card .mdl-card__subtitle-text > div:last-child
{
    border: none;
    margin-top: -8px;
    height: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
}

.hotel-card .mdl-card__subtitle-text > span
{
    display: inline-block;
    margin: 0px 16px 8px 0px;
    border-bottom: 2px solid green;
}

.hotel-card .mdl-card__subtitle-text > span:first-child
{
}

.hotel-card .mdl-card__subtitle-text > span > i
{
    padding-right: 12px;
}

.hotel-card .mdl-card__subtitle-text > span > span
{
    display: block;
    float: right;
    margin-top: -2px;
    padding-top: 2px;
}

.hotel-card .mdl-card__supporting-text
{
    padding: 8px 24px 0px 24px;
    margin-top: -12px;
}

pre
{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#loader-hotel, #loader-tour
{
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 26px;
    height: 6px;
}

#tourMain > .app-block-header
{
    height: 48px;
    padding-top: 4px;
}

#tourMain
{
    width: 100%;
    margin: 0px;
    padding: 24px 0px 14px 0px;
}

#tourMain > div:first-child
{
    margin: 0px;
}

#tourMain > .mdl-cell--12-col
{
    width: 100%;
}

#tourMain > .mdl-cell--4-col
{
    width: Calc(33% - 36px);
    margin: 72px 12px 12px 24px;
}

#tourMain > .mdl-cell--8-col
{
    width: Calc(66% - 24px);
    margin: 24px 24px 12px 12px;

}

#calculate-window
{
    margin: 0;
}

#calculate-window >div:first-child
{
    height: 132px;
}

#calculate-window .calculate-list
{
    display: block;
    margin-left: 8px;
}

#calculate-window .calculate-list div
{
    font-size: 16px;
    font-weight: 600;
    opacity: 0.87;

    padding-top: 8px;
}

#calculate-window .calculate-list span
{
    font-size: 14px;
    font-weight: 300;

}

#calculate-window .calculate-list div:last-child
{
    margin-top: 18px;
    margin-bottom: 24px;
}

#calculate-window .calculate-list div:last-child > span
{
    display: block;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.7;
}

#calculate-window .calculate-list button
{
    display: block;
    width: 66%;
    margin: 0 auto;
    height: 48px;
    font-size: 24px;
    text-transform: none; 
}

#tourMain .mdl-tabs__tab-bar
{
    display: block;
}

#tourMain .mdl-tabs__tab-bar a
{
    border-right: 1px solid rgba(0,0,0,0.14);
}



#tourMain .mdl-tabs__tab
{
    padding: 0 12px;
}

#tourMain .mdl-tabs__tab span
{
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
    display: block;
    float: right;
    margin-top: 2px;
}

#tourMain .mdl-tabs__tab-bar i
{
    font-size: 48px;
    float: left;
    display: block;
      
}

.customer-form
{
    padding: 0px 0px 0px 48px;
}

.customer-form-border
{
    border-left: 1px solid black;
    border-color: rgba(0,0,0,.17);
}

.customer-form > div:first-child
{
    font-size: 20px;
    padding-bottom: 10px;
}

.customer-form  .mdl-textfield
{
    padding-top: 18px !important;
    padding-bottom: 18px;
    margin-top: -8px;
}

.customer-form  .mdl-textfield > label
{
    display: block;
    margin-top: -5px;
    color: rgba(0,0,0,0.54)
}

.customer-form  .mdl-textfield > input
{
    margin-bottom: 3px;
}

.customer-form .mdl-textfield > textarea
{
    margin-bottom: 12px !important;
}

.customer-form  .mdl-textfield > select
{
    margin-bottom: 8px;
}

.customer-form-right  .mdl-textfield
{
    padding-top: 12px !important;
    padding-bottom: 12px;
    margin-top: -8px;
}

.customer-form-right  .mdl-textfield > input
{
    margin-bottom: 8px;
}

.customer-form-right label
{
    font-size: 16px !important;
    font-weight: 600 !important;
    opacity: 0.87 !important;
    color: rgba(0,0,0,0.87) !important;
}

.customer-form-right label > span
{
    font-weight: 400 !important;
}

.hotel-text
{
    max-height: 434px;
    margin-right: 0px;
    overflow: auto;

    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2);
}

.hotel-text::-webkit-scrollbar {
    width: 6px;
}
 
.hotel-text::-webkit-scrollbar-track {

}
 
.hotel-text::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255,193,7, .7);
    background-color: rgba(33,150,243, .3);

}