body
{
    background-color: #f5f5f5;
}

/*#region Layout */

#head
{
    background-color: rgba(0,0,0,0);
    box-shadow: none;

    position: absolute;
    top: 0px;

    transition: all linear 100ms;
}

#head .mdl-navigation__link
{
    color: white;
}

.app-white-1 .mdl-navigation__link
{
    color: black !important;
}

.app-white-2 .mdl-navigation__link
{
    color: black !important;
}

.app-white-3 .mdl-navigation__link
{
    color: black !important;
}

.app-white-4 .mdl-navigation__link
{
    color: black !important;
}


#content
{
    padding-top: 64px;
}

.app-white-1
{
    background-color: rgba(255,255,255,0.25) !important;
    color: black;
}

.app-white-2
{
    background-color: rgba(255,255,255,0.50) !important;
}

 .app-white-3
{
    background-color: rgba(255,255,255,0.75) !important;
}

.app-white-4
{
    background-color: rgba(255,255,255,1) !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.mdl-layout__header-row .mdl-navigation__link
{
    font-size: 18px;
}

/* Drawer button */

.mdl-layout__header .mdl-layout__drawer-button
{
    background-color: rgba(255, 193, 7, 1);
    margin: 0px;
    padding-top: 4px;
    padding-left: 8px;
    height: 52px;
    width: 40px;
}

.mdl-layout__header-row .mdl-layout-title
{
    height: 100%;
}

.mdl-layout__header-row img
{
    height: 100%;
}

.mdl-layout__header-row 
{
    padding-left: 40px !important;
}

.app-pull-right{
    position:absolute;
    right: 8px;
}

.app-table-full-width{
    width: 100%;
    table-layout: fixed;
}

.app-padding-8
{
    padding: 8px;
}

.app-footer-absolute-bottom
{
    height: 40px;
}

/*#region Desctops */

@media only screen and (min-width : 1224px) {
    .mdl-layout__header-row 
    {
        padding-left: 0px !important;
    }
}

/*#endregion */

@media (max-width: 479px)
{ 
    .mdl-cell--12-col, .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
        width: calc(100% - 16px);
    }
}

@media (max-width: 839px) and (min-width: 480px){
    .mdl-cell--6-col, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet 
    {
        width: calc(100% - 16px);
    }

    .app-hide-tablet
    {
        display: none;
    }
}
/*#endregion */

/* Angular animation of top search-bar */

.app-anim .app-seach-box {
    height: 64px;
    margin-top: 8px;
    opacity: 1;
    -moz-transition: all 400ms ease-out 50ms;
    -o-transition: all 400ms ease-out 50ms;
    -webkit-transition: all 400ms ease-out 50ms;
    transition: all 400ms ease-out 50ms;
}

.app-anim .ng-hide {
    height: 0px;
    opacity: 0;
    margin-top: -50px;
}


/*#region Animations */

.mdl-card-collapse
{
    -webkit-transition: all 750ms ease-out 150ms;
    -moz-transition: all 750ms ease-out 150ms;
    -o-transition: all 750ms ease-out 150ms;
    transition: all 750ms ease-out 150ms;

    max-height: 1600px;
}

.mdl-card .collapse
{
    max-height: 0px;
}

.mdl-card-collapse--base
{
    min-height: 40px;
}

/*#endregion */


/*#region Ico */

.app-fixed-ico
{
    max-width: 24px;
    max-height: 24px;

    min-height: 24px;
    max-height: 24px;
}

/*#endregion */


/*#region Extensions */

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

/*#endregion */

/*#region Land */




section
{
    width: 100%;
    height: 890px;
    background-size: cover;
}

#last_section
{

}

@media only screen and (max-width: 1366px)
{
    section
    {
        width: 100%;
        height: 770px;
        background-size: cover;
    }

    .land-card-text
    {
        position: absolute;
        left: 41.6%;
        margin-top: -20px;
        background-color: rgb(71, 142, 235);
        z-index: 300;
        padding: 10px;
        color: white;
    }

    .land-form-one button
    {
        width: 100%;
        height: 50px;
        margin-top: 50px;
        margin-left: 30px;
    }


}

.land-card
{
    background-color: rgba(0,0,0,0);
    border: 2px solid #FFC107;
}

.land-card .material-icons
{
    position: absolute;
    color: white;
    top: -2px;
}

.land-card input
{
    border-color: white;
    color: white;
}

.land-card .mdl-button
{
    width: 260px;
    height: 49px;
    margin-top: 21%;
    margin-left: 20px;
}
/*#endregion */

#photos
{
    margin-top: 58%;
    position: absolute;
}

.land_card_1_container
{
    position: absolute;

    max-width:900px;
    
    margin-top: 300px;
    margin-left: 20%;

}

.land_card_1_first
{

}

.land_card_1_second
{
    margin-left: 0px;
    margin-top: -130px;
}

.card_general
{
    background-position:center;
    background-size: cover;
    background-image: url(/Content/Resources/land_card.png);

    display: inline-block;

    width:260px;
    height: 260px;
}

.card_general>div
{
    font-size: 12px;
    position: absolute;
    width: 180px;
    padding-top: 00px;
    padding-left: 40px;
}
.card_general .card_title
{
    font-weight: bold;
}

.card_general .card_subtitle
{
    margin-top: -40px;

}

.card_general i
{
    font-size: 49px;
}

.card_general img
{
    padding-top: 35px;
    padding-bottom: 45px;
}

.card_general span
{
}

#card_1{

}
#card_2{

}
#card_3{

}
#card_4{

}
#card_5{

}

#tickets
{
    position: absolute;
    right: 5%;
    margin-top: 55%;
}

#coffee
{
    position: absolute;
    left: 5%;
    margin-top: 55%;
}

#map
{
    position: absolute;
    right: -17%;
    margin-top: 5%;
}

#pen
{
    position: absolute;
    left: 6%;
    
    margin-top: 42%;
}

.app-img-center
{
    display: block;
    margin: 0 auto;
}


/*#region SlickLand */

#tours .slick-slide {
    -moz-transition: all ease-out 250ms;
    -o-transition: all ease-out 250ms;
    -webkit-transition: all ease-out 250ms;
    transition: all ease-out 250ms;

    width: 250px;
}

#tours .slick-current
{
    width: 300px;
}
/*#endregion */