body
{
    background-color: #f5f5f5;
}

.mdl-layout__header
{
    background-color: #fdfdfd !important;
}

.mdl-layout__header-row .mdl-navigation__link
{
    font-size: 18px;
}

.app-pull-right{
    position:absolute;
    right: 8px;
}

.app-table-full-width{
    width: 100%;
    table-layout: fixed;
}

.app-padding-8
{
    padding: 8px;
}

/*#region fab */

.app-fab-fixed-bottom-right
{
    position: fixed;
    bottom: 48px;
    right: 40px;
}

.app-fab-manager-top
{
    position: absolute;
    top: 188px;
    right: 12%;
}

.app-fab-right-center
{
    margin: 0 auto;
    display: block;
    margin-top: 76px;
}
/*#endregion */


.app-footer-absolute-bottom
{

    height: 40px;
}

.app-manager-back
{
    height: 200px;
    background-color: darkblue;
}

.app-manager-top-card
{
    margin-top: -114px;
}

/* Angular animation of top search-bar */

.app-anim .app-seach-box {
    height: 64px;
    margin-top: 8px;
    opacity: 1;
    -moz-transition: all 400ms ease-out 50ms;
    -o-transition: all 400ms ease-out 50ms;
    -webkit-transition: all 400ms ease-out 50ms;
    transition: all 400ms ease-out 50ms;
}

.app-anim .ng-hide {
    height: 0px;
    opacity: 0;
    margin-top: -50px;
}


/*#region Animations */

.mdl-card-collapse
{
    -webkit-transition: all 750ms ease-out 150ms;
    -moz-transition: all 750ms ease-out 150ms;
    -o-transition: all 750ms ease-out 150ms;
    transition: all 750ms ease-out 150ms;

    max-height: 1600px;
}

.mdl-card .collapse
{
    max-height: 0px;
}

.mdl-card-collapse--base
{
    min-height: 40px;
}

/*#endregion */


/*#region Ico */

.app-fixed-ico
{
    max-width: 24px;
    max-height: 24px;

    min-height: 24px;
    max-height: 24px;
}

/*#endregion */


/*#region Extensions */

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

/*#endregion */