<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://luxtouronline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>luxtouronline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LuxtourOnline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LuxtourOnline</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AVX" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User ID=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444" Name="Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User Id=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LuxtourOnline.Models.SiteDbContext, LuxtourOnline" MigrationConfiguration="LuxtourOnline.Migrations.Configuration, LuxtourOnline" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbLuxtourOnlineEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=luxtour.database.windows.net;Persist Security Info=True;User ID=luxtour_db_manager;Password=Tf2732444" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:luxtour.database.windows.net,1433;Initial Catalog=dbLuxtourOnline;Persist Security Info=False;User ID=luxtour_db_manager;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbLuxtourOnlineEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LogModel.csdl|res://*/Models.LogModel.ssdl|res://*/Models.LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:luxtour.database.windows.net,1433;initial catalog=dbLuxtourOnline;persist security info=False;user id=luxtour_db_manager;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DebugConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User ID=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444" Name="Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User Id=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-RV9HCMM\SQLEXPRESS;Initial Catalog=LuxtourOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DebugConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-RV9HCMM\SQLEXPRESS;Initial Catalog=LuxtourOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:luxtour.database.windows.net,1433;Initial Catalog=dbLuxtourOnline;Persist Security Info=False;User ID=luxtour_db_manager;Password=Tf2732444;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:luxtour.database.windows.net,1433;Initial Catalog=dbLuxtourOnline;Persist Security Info=False;User ID=luxtour_db_manager;Password=Tf2732444;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LogModel" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User ID=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444" Name="Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User Id=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:luxtour.database.windows.net,1433;Initial Catalog=dbLuxtourOnline;Persist Security Info=True;User ID=luxtour_db_manager;Password=Tf2732444;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LogModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:luxtour.database.windows.net,1433;initial catalog=dbLuxtourOnline;persist security info=True;user id=luxtour_db_manager;password=Tf2732444;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AVX-Web.config Connection String">
      <ParameterValue>Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User Id=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbLuxtourOnlineEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LogModel.csdl|res://*/Models.LogModel.ssdl|res://*/Models.LogModel.msl;provider=System.Data.SqlClient;provider connection string="data source=luxtour.database.windows.net;persist security info=True;user id=luxtour_db_manager;password=Tf2732444;MultipleActiveResultSets=False;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DebugConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:luxtourdb.database.windows.net,1433;Initial Catalog=luxtourdb;User Id=luxtour_manager@luxtourdb.database.windows.net;Password=Tf2732444</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LogModel-Web.config Connection String">
      <ParameterValue>data source=tcp:luxtourdb.database.windows.net,1433;initial catalog=luxtourdb;user id=luxtour_manager@luxtourdb.database.windows.net;password=Tf2732444;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>