
@{
    ViewBag.Title = "Take_failed";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>Take_failed</h2>

<div class="mdl-typography--text-center">
    Вибачте, це замовлення вже перехоплено.
</div>
